body{
	margin: 0;
	padding: none;
	display: flex;
	flex-wrap: wrap;
}

a{text-decoration: none;}

/*INDEX*/

/*INSCRIPTION*/

/*CONNEXION*/

/*PROFIL*/

/*HEADER & FOOTER*/
/*HEADER____________________*/

/*FOOTER____________________*/
