body{
	margin: 0;
	padding: none;
	display: flex;
	flex-wrap: wrap;
}

a{text-decoration: none;}

/*INDEX*/

/*INSCRIPTION*/

/*CONNEXION*/

/*PROFIL*/

/*CHAT*/
div#showmsg{
    width: 300px;
    height: 150px;
    background-color: white;
}

/*HEADER & FOOTER*/
/*HEADER____________________*/

/*FOOTER____________________*/
